<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Media_Sorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Media_Sorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Media_Sorter.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RenamingTemplate" serializeAs="String">
                <value>YYYY.MM.DD hh-mm-ss</value>
            </setting>
            <setting name="Renaming" serializeAs="String">
                <value>False</value>
            </setting>
        </Media_Sorter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Media_Sorter.Properties.Settings>
            <setting name="PatternsPath" serializeAs="String">
                <value>patterns.cfg</value>
            </setting>
            <setting name="DestinationsPath" serializeAs="String">
                <value>destinations.cfg</value>
            </setting>
        </Media_Sorter.Properties.Settings>
    </applicationSettings>
</configuration>